div:hover {
    border: 3px solid black;
    padding: 5px;
}

/*  CONTA DA ORDEM DE ELEMENTOS NO BODY, '3' TERCEIRO ELEMENTO DENTRO DO BODY
 */

div:nth-of-type(1){
    background-color: blue;
}

div:nth-of-type(2) {
    background-color: orange;
}

div:nth-of-type(3) {
    background-color: purple;
    padding-bottom: 10px;
    padding-top: 10px;
}

div:nth-of-type(4) {
    background-color: darkblue;
}

div:nth-of-type(5) {
    background-color: cyan;
}

div:nth-of-type(1) > h3 {
    color: orange;
    font-style: italic;
}

div:nth-of-type(2) > h3 {
    color: purple;
}

div:nth-of-type(3) > h3 {
    color: darkblue;
    font-style: italic;
}

div:nth-of-type(4) > h3 {
    color: cyan;
}

div:nth-of-type(5) > h3 {
    color: blue;
    font-style: italic;
}
